body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #d0f0c0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

#randomNumber {
    font-size: 1.5em;
    margin: 20px 0;
}

.achievements {
    list-style-type: none;
    padding: 0;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
}

.social-links a:hover {
    text-decoration: underline;
}

.achievements li {
    font-size: 1.2em;
    margin: 10px 0;
}
